@{
    ViewData["Title"] = "Admin Login";
}

<h2>Admin Login</h2>

<form method="post" asp-action="AdminLogin">
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div style="margin-top: 10px;">
        <button type="submit">Login</button>
    </div>
</form>

@if (ViewData["ErrorMessage"] != null)
{
    <p style="color:red;">@ViewData["ErrorMessage"]</p>
}
