@{
    ViewData["Title"] = "Home";
}

<h2>Welcome</h2>
<a class="btn btn-primary" href="/Home/Register">New Student</a>
<a class="btn btn-secondary" href="/Home/AdminLogin">Admin</a>
<a class="btn btn-warning" href="/Home/StudentLogin">Returning Student</a>