@{
    ViewData["Title"] = "Home";
}

<h2>Welcome</h2>
<div class="home-container">
    <img src="~/img/university.jpg" alt="logo">

    <div class="home-btn">
        <a class="new-btn" href="/Home/Register">New Student</a>
        <a class="new-btn" href="/Home/Students">Admin</a>
        <a class="new-btn" href="#">Returning Student</a>
    </div>




</div>