@{
    ViewData["Title"] = "Home";
}


<div class="home-container">


    <img src="~/img/university.jpg" alt="university">

    <div class="right-side">
        <h2 id="he2">Student Registration Service</h2>
        <div class="home-btn">
            <a class="new-btn" href="/Home/Register">New Student</a>
            <a class="new-btn" href="/Home/Students">Admin</a>
            <a class="new-btn" href="#">Returning Student</a>
        </div>

    </div>




</div>