@model WebProject.Models.Student
@{
    ViewData["Title"] = "Register";
}
<head><link rel="stylesheet" href="~/css/register.css" /></head>
<div asp-validation-summary="All"></div>

<h2>Register New Student</h2>

<form asp-action="Register" method="post">

    <div>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="MiddleName">Middle Name</label>
        <input asp-for="MiddleName" />
    </div>
    <div>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" />
    </div>
    <div>
        <label>Create a password</label>
        <input type="password" asp-for="Password" />
    </div>
    <div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" />
    </div>
    <div>
        <label asp-for="Program"></label>
        <input asp-for="Program" />
    </div>
    <div>
        <label asp-for="EnrollmentType">Enrollment Type</label><br />
        <input type="radio" asp-for="EnrollmentType" value="Full-Time" /> Full-Time
        <input type="radio" asp-for="EnrollmentType" value="Part-Time" /> Part-Time
    </div>
    <div>
        <label asp-for="ExpectedGraduationYear">Expected Graduation Year</label>
        <input asp-for="ExpectedGraduationYear" type="number" />
    </div>
    <div>
        <label asp-for="DateOfBirth">Date Of Birth</label>
        <input asp-for="DateOfBirth" type="date" />
    </div>
    <div>
        <label asp-for="Nationality"></label>
        <input asp-for="Nationality" />
    </div>
    <div>
        <label asp-for="Gender">Gender</label><br />
        <input type="radio" asp-for="Gender" value="Male" /> Male
        <input type="radio" asp-for="Gender" value="Female" /> Female
        <input type="radio" asp-for="Gender" value="Other" /> Other
    </div>

    <div>
        <label asp-for="StreetAddress">Street Address</label>
        <input asp-for="StreetAddress" />
    </div>
    <div>
        <label asp-for="City"></label>
        <input asp-for="City" />
    </div>
    <div>
        <label asp-for="Province"></label>
        <input asp-for="Province" />
    </div>
    <div>
        <label asp-for="ZipCode">Zip Code</label>
        <input asp-for="ZipCode" />
    </div>
    <div>
        <label asp-for="Country"></label>
        <input asp-for="Country" />
    </div>
    <div>
        <label asp-for="AdditionalInfo">Additional Info</label>
        <textarea asp-for="AdditionalInfo"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
