@model IEnumerable<WebProject.Models.Student>
@{
    ViewData["Title"] = "All Students";
}

<h2>All Students</h2>
<a href="/Home/Register" class="btn-link">Insert New Record</a>

<table class="students-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var student in Model)
    {
        <tr>
            <td>@student.StudentID</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>
                <a class="btn-action" href="/Home/Details/@student.StudentID">Details</a>
                <a class="btn-action" href="/Home/Edit/@student.StudentID">Edit</a>
                <a class="btn-danger" href="/Home/Delete/@student.StudentID">Delete</a>
        </tr>
    }
    </tbody>
</table>
