.home-container{
    display: flex;
    flex-direction: row;
}

.home-btn{
    padding: 80px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.new-btn{
    background-color: rgb(23, 56, 56);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
}