html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.students-table {
    width: 100%;
    border-collapse: collapse; /* merge borders */
    text-align: center; /* center text in cells */
}

.students-table th,
.students-table td {
    border: 1px solid #333; /* vertical and horizontal lines */
    padding: 10px;
}

.students-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.students-table tr:nth-child(even) {
    background-color: #fafafa; /* optional striped rows */
}

.btn-link {
    display: inline-block;
    padding: 14px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
    transition: background 0.2s ease;
    margin-bottom: 20px;
}

.btn-link:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.btn-action {
    padding: 6px 12px;
    background: #007bff;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
}

.btn-action:hover {
    background: #0056b3;
    color: #ffffff
}

.btn-danger {
    padding: 6px 12px;
    background: #dc3545;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.btn-danger:hover {
    background: #a71d2a;
}

.details-table th, .details-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

.details-table {
    border-collapse: collapse;
    width: 80%;
}

.edit-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.edit-table th,
.edit-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left; /* or center if you want */
    vertical-align: middle;
}

.edit-table th {
    width: 200px;
    background-color: #f4f4f4;
    text-align: right;
}

.edit-table input,
.edit-table textarea {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}
